repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-ast
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: '22.3.0'
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/isort
    rev: '5.5.2'
    hooks:
      - id: isort

  - repo: https://github.com/PyCQA/flake8
    rev: '4.0.1'
    hooks:
      - id: flake8
        entry: pflake8
        additional_dependencies: [pyproject-flake8]


  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.971'
    hooks:
    -   id: mypy

  - repo: https://github.com/python-poetry/poetry
    rev: '1.2.0b3'
    hooks:
      - id: poetry-check
      - id: poetry-lock
